

/************** CSS_Issue 2 *****************/


.w800{
  width: 800px;
}
.mar-top-40 {
  margin-top: 40px;
}
.d-flex-col{
  display: flex;
  flex-direction: column;
}
.d-flex{
  display: flex;
}

.jc-center{
  justify-content: center;
}

.in-block{
  display: inline;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.bg-header{
  background-color: #f7f7f7 ;
}
.bg-span{
  background-color: #ffe70e ;
}

.t-blue{
  color:#1098ad;
}

.t-black{
  color:#000;
}

.fsize-10{
  font-size:10px;
}

.top-2{
  top: -5px;
}
.right-2{
  right: 2px;
}
.pad-span{
  padding:4px 8px;
  
}

.w-50px{
  width: 50px;
}
.h-50px{
  height: 50px;
}
.r-50{
  border-radius: 50%;
}

.w-100{
  width: 100%;
}

.mr-top-25{
  margin-top: 25px;
}

.text-col{
  color:#444;
}
.container{
    width: 800px;
}
.bg-light-gray{
    background-color: #f7f7f7;
}
.text-center{
    text-align: center;
}
.font-size{
    font-size: 20px;
}
.color{
    color: #1098ad;
}
ul{
    list-style: none;   
}
.d-flex{
    display: flex;
}

.ml-0{
    margin-left: none;
}
.flex-column{
    flex-direction: column;
    justify-content: flex-start;
}
li{
    margin-right: 30px;
}
.font-s{
    font-style: italic;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.ml{
    margin-left: 40px;
}
.mt{
    margin-bottom: 0px;
}
.ml-auto{
    margin: 0 auto;
}
.border-top {
    border-top: 2px solid #1098ad;
    border-bottom:2px solid #1098ad;
}
.w-50{
    width: 50%;
}
.p-30{
    padding: 30px;
}
.font-family{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0 0;
    padding-left: 5px;
    color: #444;
    font-size: 14px;
}
.text-tr1{
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: 700;
}
.text-tr2{
    word-spacing: 2px;
    font-weight: 600;
}
.w-img{
    width: 70px ;
    height: auto;
}
.align-end{
    align-items: end;
}
.c-post{
    color: #1098ad;
}
.po-absolute{
    position: absolute;
    bottom: 20px;
    right:0;
    border: 1px solid rgb(119, 118, 118);
}
p-5{
    padding: 5px;
}
.po-absolute:hover{
    opacity:70%;
}
.po-absolute:active{
    opacity:50%;
}
.al-right {
    text-align: right;
}
.ml-15{
    margin-left: 15px;
}
.bt-8{
    border-top: 8px solid #1098ad;
}
.text-underline{
    text-decoration: none;
}
