.container{
    width: 800px;
}
.bg-light-gray{
    background-color: #f7f7f7;
}
.text-center{
    text-align: center;
}
.font-size{
    font-size: 20px;
}
.color{
    color: #1098ad;
}
ul{
    list-style: none;   
}
.d-flex{
    display: flex;
}

.ml-0{
    margin-left: none;
}
.flex-column{
    flex-direction: column;
    justify-content: flex-start;
}
li{
    margin-right: 30px;
}
.font-s{
    font-style: italic;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.ml{
    margin-left: 40px;
}
.mt{
    margin-bottom: 0px;
}
.ml-auto{
    margin: 0 auto;
}
.font-s10{
    font-size: 10px;
}
.font-s9{
    font-size: 11px;
}
.ml-15{
    margin-left: 15px;
}
.bt-8{
    border-top: 8px solid #1098ad;
}
.text-underline{
    text-decoration: none;
}