.container{
    width: 800px;
}
.bg{
    background-color: #f7f7f7;
}
.text-center{
    text-align: center;
}
.font-size{
    font-size: 25px;
}
.color{
    color: #1098ad;
}
ul{
    list-style: none;   
}
.d-flex{
    display: flex;
}

.ml-0{
    margin-left: none;
}
.flex-column{
    flex-direction: column;
    justify-content: flex-start;
}
li{
    margin-right: 30px;
}
.font-s{
    font-style: italic;
}

.ml{
    margin-left: 40px;
}
.mt{
    margin-bottom: 0px;
}
.ml-auto{
    margin: 0 auto;
}
.border-top {
    border-top: 2px solid #1098ad;
    border-bottom:2px solid #1098ad;
}
.w-50{
    width: 50%;
}
.p-30{
    padding: 30px;
}
.font-family{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0 0;
    padding-left: 5px;
    color: #444;
    font-size: 14px;
}
.text-tr1{
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: 700;
}
.text-tr2{
    word-spacing: 2px;
    font-weight: 600;
}
.w-img{
    width: 70px ;
    height: auto;
}
.align-end{
    align-items: end;
}
.c-post{
    color: #1098ad;
}
.po-absolute{
    position: absolute;
    bottom: 20px;
    right:0;
    border: 1px solid rgb(119, 118, 118);
}
p-5{
    padding: 5px;
}
.po-absolute:hover{
    opacity:70%;
}
.po-absolute:active{
    opacity:50%;
}